.wrapper {
    padding: 0 2rem;
}

.about-intro,
.about-further-info {
    max-width: var(--w-6xl);
    margin-inline: auto;
    padding-block: 2rem;
}

.about-intro {
    min-height: calc(100vh - (10rem + 112px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-intro__image {
    position: relative;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-intro__image-svg {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: auto;
    z-index: -1;
}

.about-intro__content,
.about-further-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.circle-img {
    border-radius: 50%;
    border: .25rem solid #fff;
    box-shadow: 0 0 .75rem 0.25rem #fff;
    height: 10rem;
    aspect-ratio: 1; 
}



/* Project Examples */
.project-example {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: left;
}

.project-example__img {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border: 2px solid var(--clr-secondary);
    border-radius: .75rem;
    box-shadow: -.25rem .25rem .75rem 0.15rem var(--clr-tertiary);
    overflow: hidden;
}

.project-example__img > img{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-example__right > .project-example__content {
    order: 2;
}

.project-example__right > .project-example__img {
    order: 1;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border: 2px solid var(--clr-secondary);
    border-radius: .75rem;
    box-shadow: .25rem .25rem .75rem 0.15rem var(--clr-tertiary);
    overflow: hidden;
}

.project-example> .project-example__content > .btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: .5rem;
}

/* Skills Section */
.skills {
    background: var(--clr-primary);
    padding: 2rem 0 4rem;
}

.skills__title {
    color: var(--clr-white);
    font-family: var(--font-title);
    font-size: clamp(1.5rem, 3.5vw, 2.25rem);
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.skills__wrapper {
    position: relative;
}

.blur-start {
    position: absolute;
    height: 100%;
    width: 10%;
    inset: 0;
    margin-right: auto;
    background: var(--clr-primary);
    background: linear-gradient(90deg, var(--clr-primary) 0%, var(--clr-primary-75) 50%, var(--clr-primary-0) 100%)
}

.blur-end {
    position: absolute;
    height: 100%;
    width: 10%;
    inset: 0;
    margin-left: auto;
    background: var(--clr-primary);
    background: linear-gradient(90deg, var(--clr-primary-0) 0%, var(--clr-primary-75) 50%, var(--clr-primary) 100%)
}

.iconGrid {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: flex-start;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 0 0 2rem;
    scroll-margin-inline: 2rem;
}

/* create a custom scrollbar */
.iconGrid::-webkit-scrollbar {
    width: .5rem;
}

.iconGrid::-webkit-scrollbar-track {
    background: var(--clr-white-opacity);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.iconGrid::-webkit-scrollbar-thumb {
    background: var(--clr-secondary);
}

.icon {
    height: clamp(4rem, 10vw, 6rem);
    scroll-snap-align: start;
    padding: .5rem;
    border-radius: 10px;
    background: var(--clr-white-opacity);
}

.packages {
    width: 80%;
    margin: 1.5rem auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    font-family: var(--font-body);
}

.packages__name {
    padding: 0 .5rem;
    width: fit-content;
}

.packages__name:not(:last-child) {
    border-right: 1px solid var(--clr-white);
}

.about-intro__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/************ responsive ************/

@media screen and (min-width: 576px) {
    .project-example__img {
        min-width: var(--w-md);
    }
}

@media (min-width: 1024px) {
    .circle-img {
        height: 12rem;
    }

    .about-intro {
        flex-direction: row;
    }

    .about-intro,
    .about-further-info {
        padding-block: 4rem;
    }

    .about-intro__image-svg {
        width: 50vw;
    }

    /* Project Examples */
    .project-example {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .project-example__right > .project-example__content {
        order: 1;
    }
    
    .project-example__right > .project-example__img {
        order: 2;
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        border: 2px solid var(--clr-secondary);
        border-radius: .75rem;
        box-shadow: .25rem .25rem .75rem 0.15rem var(--clr-tertiary);
        overflow: hidden;
        min-width: var(--w-md);
    }

    /* Skills Section */
    .iconGrid {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-evenly;
        gap: 2rem;
        overflow: hidden;
    }

    .icon {
        height: clamp(4rem, 10vw, 6rem);
    }
  
    .blur-start,
    .blur-end {
        display: none;
    }
    

}

