.container-contact {
    margin-inline: auto;
    min-height: calc(100vh - 540px);
    max-width: var(--w-6xl);
    padding: 4rem 2rem;
    gap: 2rem;
}

.container-contact__subtitle {
    font-family: var(--font-body);
}

.container-contact__body {
    margin-inline: auto;
}

.container-contact__form > form > div > label,
.container-contact__form > form > div > input,
.container-contact__form > form > div > textarea {
    width: 100%;
}

.container-contact__form > form > div > label {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: left;
}

.container-contact__form > form > div > input,
.container-contact__form > form > div > textarea {
    box-sizing: border-box;
    border: 1px solid var(--clr-grey-10);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    background: var(--clr-white-opacity);
    color: black;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.container-contact__button {
    width: fit-content;
    font-size: 1.125rem;
}

.flash-message {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    width: fit-content;
    border-radius: 0.25rem;
    background: var(--clr-grey-10);
    color: var(--clr-white);
    transition: all 300ms ease-in-out;
}

.flash-message.hidden{
    visibility: hidden;
}

.flash-message__success {
    background: green;
}

.flash-message__error {
    background: red;
}

.container-contact__form-footer {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/********** Responsive **********/
@media screen and (min-width: 876px) {
    .container-contact {
        display: grid;
        grid-template-columns: minmax(300px, 40%) minmax(450px, 60%);
        align-items: center;
    }

    .container-contact__content {
        padding-block: 3rem;
        padding-inline: 1.25rem;
        border-right: 1px solid var(--clr-grey-10);
    }
}