.navbar {
    position: sticky;
    top: 0;
    height: var(--h-navbar-mobile);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.664);
}

.nav-link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-link-wrapper .logo {
    width: 6rem;
    height: auto;
    margin-inline: 1rem;
}

.nav-social {
    display: none;
}

.mobile-icon {
    display: block;
    font-size: 1.5rem;
    display:block;
    color: var(--clr-white);
}

.fa-hamburger,
.fa-times-circle {
    padding: .5rem;
    background-color: var(--clr-primary);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px var(--clr-white);
}

.nav-links,
.nav-social {
    display: none;
}

.mobile {
    display: block;
}

.nav-links {
    display: none;
    flex-direction: column;
    right: -50px;
    transition: 3s ease-in; 
}

.nav-links > .link {
    display: table;   
    text-align: center;
    padding:1rem 2rem; 
}

.nav-links > .link:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 10px;
    transition: .3s ease-in;
    text-decoration: none;
}

.active {
    display: flex;
    position: absolute;  
    right: 0;
    top: 80px;
    background-color: var(--clr-white-opacity);
    border-radius: 0 0 0 10px;
    right: 0;
    z-index: 1;
}

/*********Responsiveness*************/

 @media (min-width: 1024px) {
    .navbar {
        height: var(--h-navbar);
    }

    .mobile-icon {
        display: none;
    }

    .nav-links,
    .nav-social {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-links > .link {
        display: table;   
        text-align: center;
        padding: .5rem 1rem; 
    }
    
    .nav-links > .link.mobile {
        display: none;
    }

    .navbar a,
    .nav-social a {  
        color: var(--clr-primary);
        font-size: 1.25rem;
        text-align: center;
        text-decoration: none;
        padding: .5rem 1rem;
    } 
    
    .navbar a:hover:not(.brand-logo),
    .nav-social a:hover {
        background-color: var(--clr-primary);
        color: var(--clr-white);
        border-radius: 10px;
        transition: .3s ease-in;
    }

    .nav-links > .active {
        position: static;  
        background-color: var(--clr-primary);
        color: var(--clr-white);
        border-radius: 10px;
        transition: .3s ease-in;
    }
    
} 